@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Vazirmatn";
  font-feature-settings: "ss01" !important; /* force to show numbers as farsi digits */
}

@layer components {
  .container {
    @apply mx-auto max-w-6xl xl:max-w-7xl;
  }
  .skeleton {
    @apply bg-gray-200 rounded animate-pulse;
  }
}

/* 210 56% 35% */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 210 56% 35%;
    --primary-foreground: 210 20% 98%; /* سفید آبی */
    --secondary: 210 60% 40%; /* آبی تیره */
    --secondary-foreground: 210 20% 98%; /* سفید آبی */
    --muted: 210 20% 70%; /* آبی کمرنگ */
    --muted-foreground: 0 0% 0%;
    --accent: 210 50% 60%; /* آبی متوسط */
    --accent-foreground: 210 10% 95%; /* آبی روشن */
    --destructive: 0 100% 50%; /* قرمز */
    --destructive-foreground: 210 20% 98%; /* سفید آبی */
    --border: 210 20% 80%; /* آبی کم‌رنگ */
    --input: 210 20% 90%; /* آبی خیلی روشن */
    --ring: 210 100% 50%; /* آبی روشن */
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: var(--primary);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 56% 35%;
    --primary-foreground: 210 20% 98%; /* سفید آبی */
    --secondary: 210 60% 40%; /* آبی تیره */
    --secondary-foreground: 210 20% 98%; /* سفید آبی */
    --muted: 210 20% 70%; /* آبی کمرنگ */
    --muted-foreground: 0 0% 0%;
    --accent: 210 50% 60%; /* آبی متوسط */
    --accent-foreground: 210 10% 95%; /* آبی روشن */
    --destructive: 0 100% 50%; /* قرمز */
    --destructive-foreground: 210 20% 98%; /* سفید آبی */
    --border: 210 20% 80%; /* آبی کم‌رنگ */
    --input: 210 20% 90%; /* آبی خیلی روشن */
    --ring: 210 100% 50%; /* آبی روشن */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: var(--secondary);
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.rmdp-container {
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4dddd;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999191;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595555;
}
